<header>
    <section class="logoAndTitle">
        <img src="/img/logoSword.webp" alt="logo des épées">
        <h1>Free World</h1>
        <img src="/img/logoSword.webp" alt="logo des épées">
    </section>
    <nav>
        <a href="/">Accueil</a>
        <% if (locals.session.isLogged) { %>
        <a href="/ladder">Classement</a>
        <a href="/creator">Créateur</a>
            <a href="/dashboard">Mon compte</a>
        <% } else { %>
            <a href="/login">Connexion</a>
        <% } %> 
    </nav>
</header>