<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Battle du meilleur personnage RPG ! Qui sera le meilleur ? Bienvenue sur Free World !">
        <title>Free World</title>
        <link rel="icon" type="image/x-icon" href="img/favicon.ico">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include("./partials/header")  %> 
        <%- include(template)  %> 
        <%- include("./partials/footer")  %> 
    </body>
</html>