<main id="home">
    <section>
        <h2>Il y a eu une erreur lors de la création/connexion du compte</h2>
        <p>Cela vient du fait que le <span class="txtHyperLink">nom</span> choisi est déjà pris.</p>
        <p>Ou alors que tu as fait une <span class="txtHyperLink">mauvaise</span> saisie de tes informations de connexion.</p>
        <p>Réessaye de <a href="/register" class="txtHyperLink">créer</a> un compte avec un autre nom ou de te <a href="/login" class="txtHyperLink">reconnecter</a> !</p>
    </section>
</main>