<main id="home">
    <section>
        <h2>Il y a eu une erreur lors de la création du compte</h2>
        <p>Cela vient du fait que le <span class="txtHyperLink">nom</span> choisi est déjà pris.</p>
        <p>Réessaye de <a href="/register" class="txtHyperLink">créer</a> un compte avec un autre nom !</p>
    </section>
</main>