<main id="home">
    <section>
        <h2>Bienvenue sur Free World !</h2>

        <p>Ici tu es libre de créer ta classe RPG de ton choix et avec les caractéristiques que tu souhaites. Pour ce faire n'hésite pas à créer un compte <a href="/login" class="txtHyperLink">ici</a> et te rendre dans le créateur de classe <strong>par la suite</strong> ! Une fois ceci fait, tu pourras comparer tes personnages avec le reste de la communauté dans le <a href="/ladder" class="txtHyperLink">classement</a>.</p>
    </section>

    <section class="zoneImg">
        <img src="img/chevalier.png" alt="un chevalier">
        <img src="img/magenoir.png" alt="un mage noir">
    </section>
    
</main>