<main>
    <form action="/login" method="post">
        <label for="pseudo">Pseudo</label>
        <input type="text" name="pseudo" id="pseudo">
        <label for="password">Mot de passe</label>
        <input type="password" name="password" id="password">
        <input type="submit" value="Connexion">
    </form>

    <p class="notYetRegister">Pas encore inscrit ? <a href="/register" class="txtHyperLink">S'inscrire</a></p>
</main>