<main>
    <section class="notFound">
        <h2>404</h2>
        <p>Page non trouvée !</p>
        <p class="txtNotFound">Retourne à <a href="/" class="txtHyperLink">l'acceuil</a> c'est le mieux en vrai.</p>
    </section>
</main>